.app {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(98, 100, 167);
  box-shadow: rgba(0, 0, 0, 0.11) 0px 1.6px 3.6px, rgba(0, 0, 0, 0.07) 0px 0.3px 0.9px;
}

/* .main-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 36%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35%;
}

@media (max-width: 1244px) {
  .main-container {
    width: 50%;
  }
}

@media (max-width: 1050px) {
  .main-container {
    width: 75%;
  }
}

@media (max-width: 650px) {
  .main-container {
    width: 100%;
    top: 22.5%;
  }
}

.top-container {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 5px 20px;
  color: white;
  align-items: center;
}

h1 {
  padding-left: 30px;
  font-size: 45px;
  flex-grow: 2;
}

@media (max-width: 700px) {
  h1 {
    font-size: 32px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 24px;
  }
}

.powered-by-container {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-self: flex-end;
  padding-bottom: 10px;
}

.powered-by-text {
  align-self: center;
  font-weight: 500;
}

@media (max-width: 700px) {
  .powered-by-text {
    font-size: 12px;
  }
}

.watson {
  width: 32px;
  height: 32px;
  fill: white
}

.bottom-container {
  border-left: 2px solid #e0dad7;
  border-right: 2px solid #e0dad7;
  border-bottom: 2px solid #e0dad7;
  background-color: white;
  padding: 25px 20px;
}

.intro-text {}

.intro-text-bold {
  font-weight: bold;
  padding-top: 25px;
} */
.top-bar {
  width: 100vw !important;
  height: 58px !important;
}

.left-bar {
  display: inline-block !important;
  height: calc(100vh - 60px) !important;
  width: 80px !important;
  margin-top: -5px !important;
}

#WACContainer.WACContainer .WACWidget.WACWidget--defaultElement {
  height: calc(100vh - 64px) !important;
  width: calc(100vw - 86px) !important;
  max-height: calc(100vh - 64px) !important;
  max-width: calc(100vw - 86px) !important;
  right: 5px !important;
  bottom: 5px !important;
}

.WACHeader {
  visibility: hidden !important;
}

#WACContainer.WACContainer .WACWidget.WACWidget--defaultElement {
  border-radius: 0px !important;
}

#WACContainer.WACContainer .cds--chat-btn {
max-width: 17.5rem !important;
height: 2rem !important;
width: 100% !important;
/* vertical-align: middle !important; */
justify-content: center !important;
/* display: inline-flex !important; */
cursor: pointer !important;
border-radius: 4px !important;
border-color: transparent !important;
border-style: solid !important;
padding: 0px 1.25rem !important;
outline-width: 0px !important;
/* box-shadow: rgba(0, 0, 0, 0.11) 0px 1.6px 3.6px, rgba(0, 0, 0, 0.07) 0px 0.3px 0.9px !important; */
background-color: rgb(98, 100, 167) !important;
color: white !important;
min-width: 6rem !important;
}

#WACContainer.WACContainer .cds--chat-btn:disabled {
  background-color: white !important;
  color: rgb(98, 100, 167) !important;
  cursor: default !important;
}