.drag-drop {
    display: flex !important;
    background: #fff !important;
    margin-top: 16px !important;
    overflow-y: auto !important;
    min-width: 278px !important;
    max-width: 278px !important;
    min-height: 250px !important;
    max-height: 250px !important;
}

.document-uploader {
    /* border: 2px dashed #4282fe !important; */
    background-color: lightgray !important;
    padding: 10px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    min-width: 278px !important;
    max-width: 278px !important;
    min-height: 250px !important;
    max-height: 250px !important;

    &.active {
       border: 2px solid black !important;
       background-color: rgb(98, 100, 167) !important;
       color: white !important;
    }

    .upload-info {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-bottom: 1rem !important;

        svg {
            font-size: 36px !important;
            margin-right: 1rem !important;
        }

        div {
            p {
                margin: 0 !important;
                font-size: 16px !important;
            }

            p:first-child {
                font-weight: bold !important;
            }
        }
    }

    .upload-text {
        text-align: center !important;
    }

    .upload-text-one {
        margin-bottom: 4px !important;
    }

    .file-list {
        display: flex !important;
        flex-direction: column !important;
        gap: 0.5rem !important;
        width: 100% !important;

        &__container {
            width: 100% !important;
            height: 100% !important;
            overflow: auto !important;
        }
    }

    .file-item {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        padding: 0.5rem !important;
        border: 1px solid var(--border-color) !important;
        border-radius: 8px !important;
        text-align: center !important;

        .file-info {
            display: flex !important;
            flex-direction: column !important;
            gap: 0.25rem !important;
            flex: 1 !important;

            p {
                margin: 0 !important;
                font-size: 14px !important;
                /* color: #333 !important; */
            }
        }

        .file-actions {
            cursor: pointer !important;
            display: inline-block !important;

            svg {
                font-size: 18px !important;
                color: #888 !important;
            }

            &:hover {
                svg {
                    color: #d44 !important;
                }
            }
        }
    }

    .browse-btn {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 0.5rem 1rem !important;
        border: 1px solid var(--border-color) !important;
        border-radius: 8px !important;
        cursor: pointer !important;
        background-color: var(--primary-color) !important;

        &:hover {
            background-color: transparent !important;
        }
    }

    .success-file {
        display: flex !important;
        align-items: center !important;
        color: #6dc24b !important;

        p {
            margin: 0 !important;
            font-size: 14px !important;
            font-weight: bold !important;
        }
    }

    input[type="file"] {
        display: none !important;
    }
}

.email {
    margin-top: 12px !important;
}