.fixes-container {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    min-width: 325px !important;
    margin-top: 16px !important;
    /* width: 325px !important; */
    /* max-width: 95% !important; */
    /* flex-basis: 300px !important; */
    /* flex-grow: 1 !important; */
    /* flex-shrink: 0 !important;  */
}

.fixes-outside-container {
    display: inline-flex !important;
    flex-direction: column !important;
    flex: 1 1 auto !important;
    justify-content: flex-start !important;
    max-width: fit-content !important;
}

.fixes-inside-container {
    display: inline-flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    flex: 1 1 auto !important;
    overflow-x: auto !important;
    height: 265px !important;
    max-width: fit-content !important;
}

/* .fixes-inside-container::-webkit-scrollbar {
    background-color: lightgray !important;
} */

.fixes {
    min-width: 278px !important;
    max-width: 278px !important;
    min-height: 250px !important;
    max-height: 250px !important;
    overflow-y: auto !important;
    background-color: white !important;
    padding: 8px !important;
    margin-bottom: 8px !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    margin-right: 8px !important;
    border: solid lightgray !important;
}

.fixes:hover {
    background-color: lightgray !important;
}


.fixes::-webkit-scrollbar {
    width: 10px !important;
}

.fixes::-webkit-scrollbar-track {
    box-shadow: none !important;
    border: solid 3px transparent !important;
}

.fixes::-webkit-scrollbar-thumb {
    /* border-radius: 4px !important;
    background-color: black !important;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1.6px 3.6px, rgba(0, 0, 0, 0.07) 0px 0.3px 0.9px !important; */
    box-shadow: none !important;
    border: solid 3px white !important;
    margin-right: 2px !important;
}

.fixes::-webkit-scrollbar-thumb:hover {
    /* border-radius: 4px !important;
    background-color: black !important;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1.6px 3.6px, rgba(0, 0, 0, 0.07) 0px 0.3px 0.9px !important; */
    box-shadow: none !important;
    border: solid 3px lightgray !important;
    margin-right: 2px !important;
}

/* .fixes::-webkit-scrollbar {
    background-color: #aaa !important;
    color: gray !important;
} */

.fixes-selected {
    min-width: 278px !important;
    max-width: 278px !important;
    min-height: 250px !important;
    max-height: 250px !important;
    overflow-y: auto !important;
    background-color: #efefef !important;
    padding: 8px !important;
    margin-bottom: 8px !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    margin-right: 8px !important;
    border: solid  rgb(98, 100, 167) 3px !important;
    /* color: white !important; */
}

.fixes-selected::-webkit-scrollbar {
    width: 10px !important;
}

.fixes-selected::-webkit-scrollbar-track {
    box-shadow: none !important;
    border: solid 3px transparent !important;
}

.fixes-selected::-webkit-scrollbar-thumb {
    /* border-radius: 4px !important;
    background-color: black !important;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1.6px 3.6px, rgba(0, 0, 0, 0.07) 0px 0.3px 0.9px !important; */
    box-shadow: none !important;
    border: solid 3px #efefef !important;
    margin-right: 2px !important;
}

/* .fixes::-webkit-scrollbar-thumb:hover {
    border-radius: 4px !important;
    background-color: black !important;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1.6px 3.6px, rgba(0, 0, 0, 0.07) 0px 0.3px 0.9px !important;
} */

.fixes-margin-end {
    margin-right: 0px !important;
}

.fixes-long {
    min-width: 550px !important;
    max-width: 550px !important;
    margin-right: 0px !important;
}

.markdown code {
    display: inline-block !important;
    white-space: pre-wrap !important;
    color: #E8912D !important;
    background-color: #2C2E32 !important;
    /* margin: 4px !important; */
    width: fit-content !important;
    /* word-break: break-all !important; */
}

.markdown p {
    font-size: 14px !important;
    margin-bottom: 4px !important;
}

.markdown ol {
    list-style: decimal !important;
    padding-left: 1rem !important;
    font-size: 12px !important;
    margin-bottom: 8px !important;
}

.markdown li {
    margin-bottom: 4px !important;
}

.fixes-buttons-container {
    display: inline-flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    /* justify-content: center !important; */
    align-items: center !important;
    margin: 18px 0px !important;
    flex: 1 1 auto !important;
    max-width: 90vw !important;
    min-width: fit-content !important;
}

.fixes-button {
    max-width: 17.5rem !important;
    width: 17.5rem !important;
    height: 2rem !important;
    /* width: 100% !important; */
    /* vertical-align: middle !important; */
    justify-content: center !important;
    /* display: inline-flex !important; */
    cursor: pointer !important;
    border-radius: 4px !important;
    border-color: transparent !important;
    border-style: solid !important;
    padding: 0px 1.25rem !important;
    outline-width: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1.6px 3.6px, rgba(0, 0, 0, 0.07) 0px 0.3px 0.9px !important;
    background-color: rgb(98, 100, 167) !important;
    color: white !important;
    min-width: 6rem !important;
}

.fixes-button:disabled {
    background-color: white !important;
    color: rgb(98, 100, 167) !important;
    cursor: default !important;
}

.fixes-square {
    margin: 0px 8px !important;
}

.fixes-square:hover {
    font-size: large !important;
    font-weight: 500 !important;
    margin: 0px 6.5px !important;
}

.fixes-square-big {
    margin: 0px 8px !important;
    font-size: large !important;
    font-weight: 700 !important;
}

.end {
    height: 1px;
}