body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('./images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

@media (max-width: 650px) {
  body {
    background: white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* WA specific css rules */

/* 
#WACContainer.WACContainer button.WAC__button--primary svg {
  fill: white !important;
}

#WACContainer.WACContainer .WACLauncherComplex__Container .WACLauncherComplex__Text {
  color: white !important;
}

#WACContainer.WACContainer button.WAC__button--base svg {
  fill: white !important;
}

#WACContainer.WACContainer .WACHeader__CenterContainer .WACAutoFontSize--0 {
  color: white !important;
  font-size: large !important;
  font-weight: bolder;
}

#WACContainer.WACContainer .WAC__sent {
  color: white !important;
}

#WACContainer.WACContainer button.WAC__button--base.WAC__button--round.WAC__button--notSelected {
  color: black !important;
  background-color: white !important;
}

#WACContainer.WACContainer button.WAC__button--base.WAC__button--round.WAC__button--selected {
  color: white !important;
  background-color: #F96302 !important;
}

#WACContainer.WACContainer svg {
  fill: #F96302
} */
