.tracking {
    color: #F96302 !important;
}

.tracking:visited {
    color: #a24303 !important;
}

.bx--accordion__item {
    background-color: white !important;
}

.bx--accordion__content {
    padding-bottom: 10px !important;
}

.bx--link {
    color: #F96302 !important;
}
